#heart-zoom-zoom-profile .zoom-profile-inline-form {
  display: none;
}

#dialog-webinar-remove-prompt {
  display: none;
}

.views-form-upcoming-webinars-block-3 fieldset.form-composite {
  display: none;
}
